<div data-ng-controller="ActorSearchCtrl">
	<h2>Search for an actor</h2>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="stageFirstName" class="col-md-2 col-sm-12">First
				Name</label>
			<div class="col-md-6 col-sm-12 ">
				<input type="text" class="form-control" id="stageFirstName"
					placeholder="Enter stage first name to search by"
					data-ng-model="stageFirstName">
			</div>
		</div>

		<div class="form-group">
			<label for="stageLastName" class="col-md-2 col-sm-12">Last
				Name</label>
			<div class="col-md-6 col-sm-12 ">
				<input type="text" class="form-control" id="stageLastName"
					placeholder="Enter stage last name to search by"
					data-ng-model="stageLastName">
			</div>
		</div>

		<div class="form-group">
			<label for="birthCity" class="col-md-2 col-sm-12">Birth City</label>
			<div class="col-md-6 col-sm-12 ">
				<input type="text" class="form-control" id="birthCity"
					placeholder="Enter stage first name to search by"
					data-ng-model="birthCity">
			</div>
		</div>

		<div class="form-group">
			<label for="birthStateOrProvince" class="col-md-2 col-sm-12">Birth State</label>
			<div class="col-md-6 col-sm-12">
				<select name="birthStateOrProvince" data-ng-model="birthStateOrProvince"
					class="form-control">
					<option value="null">Select a state</option>
					<option data-ng-repeat="state in stateNames">{{state}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
		  	<div class="col-md-4 col-sm-12">
		  	  <button class="btn btn-primary" data-ng-click="searchForActors()" data-ng-disabled="searchDisabled()">Search</button>
		  	</div>
	  	</div>
	</form>
	
	<div data-ng-show="actors.length > 0">
		<h2>Results</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Stage First Name</th>
					<th>Stage Last Name</th>
					<th>Birth City</th>
					<th>Birth State or Province</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr data-ng-repeat="actor in actors">
					<td>{{actor.StageFirstName}}</td>
					<td>{{actor.StageLastName}}</td>
					<td>{{actor.BirthCity}}</td>
					<td>{{actor.BirthStateOrProvince}}</td>
					<td><button class="btn btn-primary" data-ng-click="showMoviesForActor(actor)">Show Movies</button>
				</tr>
			</tbody>
		</table>
	</div>

	<div data-ng-show="searchPerformed && actors == 0">
		<div class="alert alert-danger">No actors found for the specified search</div>
	</div>
	
	<div data-ng-show="selectedActor.actorID > 0">
		<h2>Movies for {{selectedActor.stageFirstName}} {{selectedActor.stageLastName}}</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Movie Title</th>
					<th>Year Released</th>
					<th>Running Time</th>
					<th>Role played</th>
				</tr>
			</thead>
			
			<tbody>
				<tr data-ng-repeat="role in selectedActor.roles">
					<td>{{role.movie.movieTitle}}</td>
					<td>{{role.movie.year}}</td>
					<td>{{role.movie.runningTimeInMinutes}}</td>
					<td>{{role.role}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>