<div data-ng-controller="MovieSearchCtrl">
	<h2>Search for a movie</h2>
	
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="MovieTitle" class="col-md-2 col-sm-12">MovieTitle</label>
	    <div class="col-md-6 col-sm-12 ">
	      <input type="text" class="form-control" id="MovieTitle" placeholder="Enter title" data-ng-model="MovieTitle">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="Year" class="col-md-2 col-sm-12">Year</label>
	    <div class="col-md-6 col-sm-12">
		  <select name="year" data-ng-model="Year" class="form-control">
		    <option value="-1">Select a year</option>
		    <option data-ng-repeat="year in years">{{year}}</option>
		  </select>    
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="primaryGenre" class="col-md-2 col-sm-12">Primary Genre</label>
	    <div class="col-md-6 col-sm-12">
		  <select name="primaryGenre" data-ng-model="PrimaryGenre" class="form-control">
		    <option value="null">Select a genre</option>
		    <option data-ng-repeat="genre in genres">{{genre.Name}}</option>
		  </select>    
	    </div>
	  </div>
	  
	  <div class="form-group">
	  	<label for="Director" class="col-md-2 col-sm-12">Director</label>
	  	<div class="col-md-6 col-sm-12">
	  	  <input type="text" class="form-control" id="Director"  data-ng-model="Director" placeholder="Enter director in format Last, First"/>
	  	</div>
	  </div>

	    <!--
	    <div class="form-group">
	        <label for="RunningTimeComparator" class="col-md-2">Running time is </label>
	        <div class="col-md-2">
	            <select class="form-control" name="runningTimeComparator" data-ng-model="runningTimeComparator">
	                <option value="<">less than</option>
	                <option value="<=">no more than</option>
	                <option value="=">equal to</option>
	                <option value=">=">at least</option>
	                <option value=">">more than</option>
	            </select>
	        </div>

	        <div class="col-md-2">
	            <input type="text" class="form-control" id="RunningTime" data-ng-model="runningTime"/>
	        </div>

	        <p class="form-control-static col-md-2">minutes</p>
	    </div>
	    -->

	  <div class="form-group">
	  	<div class="col-md-4 col-sm-12">
	  	  <button class="btn btn-primary" data-ng-click="searchForMovies()" data-ng-disabled="searchDisabled()">Search</button>
	  	</div>
	  </div>
	</form>
	
	<div data-ng-show="movies.length > 0">
		<h2>Results</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Running Time (minutes)</th>
				    <th>Primary Genre</th>
				    <th>Other Genres</th>
				</tr>
			</thead>
			
			<tbody>
				<tr data-ng-repeat="movie in movies">
					<td>{{movie.MovieTitle}}</td>
					<td>{{movie.Year}}</td>
					<td>{{movie.RunningTimeInMinutes}}</td>
				    <td>{{movie.PrimaryGenre}}</td>
				    <td>{{makeGenreList(movie)}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div data-ng-show="searchPerformed && movies.length == 0">
		<div class="alert alert-danger">No movies found for the specified search</div>
	</div>
</div>